.embedded-browser-window{:id => browser_id, :proxied_url => proxied_url}
  .row-fluid
    .span1
      .row-fluid
        = render :partial => "shared/button",
                 :locals => { :button_id => browser_id + "-back-button", :message => "Back",
                              :type => "input", :button_class => "btn-primary browser-back-button" }
        = render :partial => "shared/button",
                 :locals => { :button_id => browser_id + "-bookmark-button", :message => "Bookmark",
                              :type => "input", :button_class => "browser-bookmark-button" }
    .span10.well-small.well
      .row-fluid
        %input.proxied-page-url{:readonly => true}
      .row-fluid.proxied-page-contents
