<!DOCTYPE html>
<html>
<head>
  <title>IronOctopus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h2>Create new routine <%= @routine.name %></h2>
</body>
</html>
