- @activity_sets.each do |activity_set|
  != "var imported = '#{escape_javascript(render :partial => 'activity_sets/form',
                                                 :locals => { :activity => activity_set.activity,
                                                              :activity_set => activity_set,
                                                              :template => false })}';"
  != "$('#routine-activity-set-list').append(imported);"
!= "$('#routine-activity-set-list .activity-set-form').each(function(index, item) { new ActivitySetListItem($(item)) });"
