<div class="container">
  <h4>Routines</h4>
  <% @routines.each do |routine| %>
    <div class="btn-group">
      <%= link_to(routine.name, user_routine_path(routine.client, routine), :class => "btn") %>
      <%= link_to("Edit", edit_user_routine_path(routine.client, routine), :class => "btn") %>
      <% if routine.client == current_user %>
        <%= link_to("Perform", perform_routine_path(routine.client, routine), :class => "btn") %>
      <% end %>
    </div>
  <% end %>

  <%= link_to("Create New Routine", new_user_routine_path(current_user), :class => "btn btn-primary") %>
</div>