.container-fluid
  .tabbable
    %ul.nav.nav-tabs.nav-pills
      %li.active
        %a{:href => "#routine-pane", "data-toggle" => "tab"}
          Routine
      %li
        %a{:href => "#activity-list-pane", "data-toggle" => "tab"}
          Add an Activity
    .tab-content
      #routine-pane.tab-pane.active
        %ul#routine-activity-set-list.unstyled
          - @routine.activity_sets.each do |activity_set|
            %li.activity-set-form.work
              = render :partial => "activity_sets/performance_form",
                       :locals => { :activity => activity_set.activity,
                                    :activity_set => activity_set, :template => false }
      #activity-list-pane.tab-pane
        #activity-search-widget.well.well-small
          %span.icon_clear
          %i.icon-remove
          #clear-selections.btn.btn-primary
            Clear
          %input#activity-search-box.input-medium.clearable{:tabindex => "1", :type => "text"}
          %i.icon-search
        %ul#activity-list.nav.nav-tabs.nav-stacked
          - @activities.each do |activity|
            = render :partial => "routines/activity_list_item", :locals => { :activity => activity, :performance => true }
    -#%ul.nav.nav-tabs.nav-pills
    -#  %li.active
    -#    %a{:href => "#routine-pane", "data-toggle" => "tab"}
    -#      Routine
    -#  %li
    -#    %a{:href => "#activity-list-pane", "data-toggle" => "tab"}
    -#      Add an Activity
  = link_to(user_path(@client), :class => "btn btn-primary") do
    %i.icon-home
    Home
