.container
  %ul#activity-sets
    - @routine.activity_sets.each do |activity_set|
      .container
      = form_for [@routine.client, Work.new], :remote => true do |form|
        = hidden_field_tag("routine[routine]", @routine.name)
        = render :partial => 'activity_sets/performance_form', :locals => { :activity => activity_set.activity, |
                 :activity_set => activity_set }                                                                |
  = link_to(user_path(@client), :class => "btn btn-primary") do
    %i.icon-home
    Home
