!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      You have been invited to Iron Octopus by #{@trainer.first_name} #{@trainer.last_name}
    %p
      To create an account on the site, just follow this link: #{@url}
    %p Enjoy!
