!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Good Day to you #{@user.first_name}!
      Iron Octopus received a request to reset your password.
    %p
      If you did not make this request, please ignore. Otherwise, click this link to reset your password: #{@url}
