#day-planner.container-fluid
  #day-planner-panel.row-fluid
    #client-list.span3.well
      - @clients.each do |client|
        .row-fluid
          = client.full_name
    #weekdays.span9.well
      = render :partial => "day_planners/weekly_calendar"