.container
  %h4 Programs
  - @programs.each do |program|
    .btn-group
      = link_to(program.name, user_program_path(program.client, program), :class => "btn")
      = link_to("Edit", edit_user_program_path(program.client, program), :class => "btn")
      - if program.client == current_user
        / Link to next routine?
  = link_to("Create New Program", new_user_program_path(@client), :class => "btn btn-primary")
