.activity-set-comments-form
  - #TODO this is not working in firefox, always disabled: :disabled => disabled
  %textarea{:name => "routine[activity_set_groups][][activity_sets][][comments]"}
    = comments
