#scores-by-day-search-panel.row-fluid
  %input#scores-by-day-start-date.input-small
  %input#scores-by-day-end-date.input-small
  = render :partial => "shared/button", :locals => { :button_id => "scores-by-date-show-button",
                                        :button_class => "",
                                        :message => "Show Scores", :type => "input"}
#scores-by-day-display-panel
