%button{:class => "btn #{(defined? button_class) ? button_class : nil}",
  :id => (defined? button_id) ? button_id : '', :name => "program[type]",
  :onclick => "#{(defined? return_false && return_false == false) ? true : 'event.preventDefault(); return false;'}",
  :rel => "tooltip"}
  - if defined? icon
    %i{:class => icon}
  - if defined? message
    = message
