<div class="center hero-unit">
    <h2>Welcome to Iron Octopus!</h2>
    Iron Octopus is a platform for Personal Trainers and Physical Therapists to tailor exercise routines specifically for their clients and to track clients' work
    <%= link_to "Take the Tour!", tour_show_path, :class => "btn btn-primary" %>
</div>
<div class="container">
  <div class="row">

    <div class="span3 offset2">
      <%= render :partial => 'sessions/login' %>
    </div>
    <div class="span2 offset3">
      <%=  link_to "Sign up!", new_user_path, :class => "btn btn-large btn-primary" %>
    </div>
  </div>

</div>