.center.hero-unit
  %h2 Welcome to Iron Octopus!
  Iron Octopus is a platform for Personal Trainers and Physical Therapists to tailor exercise routines specifically for their clients and to track clients' work
  \#{link_to "Take the Tour!", tour_path, :class => "btn btn-primary"}
.container
  .row
    .span3.offset2
      = render :partial => 'sessions/login'
    .span2.offset3
      = link_to "Sign up!", new_user_path, :class => "btn btn-large btn-primary"
