.center.hero-unit
  %h2 Welcome to IronOctopus
  For Personal Trainers to generate additional revenue by offering online sessions
  = link_to "Take the Tour!", tour_path, :class => "btn btn-primary"
.container
  .row
    .span3.offset2
      = render :partial => "sessions/login"
    .span2.offset3
      = link_to "Sign up!", new_user_path, :class => "btn btn-large btn-primary"
