<div class="container">
  <div class="row">
    <div class="span3">
      <h3>Thanks for signing up!</h3>
    </div>
    <div class="span5">
      We've sent a confirmation email to the address you provided. Please click the link or
      post it into your browser to confirm your registration.
    </div>
  </div>
</div>