.container
  .row
    .span3
      %h3 Thanks for signing up!
    .span5
      We've sent a confirmation email to the address you provided. Please click the link or
      post it into your browser to confirm your registration.
