.btn-group.stopwatch-controls
  = render :partial => "shared/button",
           :locals => { :button_class=> 'toggle-stopwatch-button btn-primary', :icon => 'icon-play'}
  = render :partial => "shared/button",
           :locals => { :button_class=> 'reset-stopwatch-button', :icon => 'icon-refresh'}
