.embedded-browser h3 {
  font-size: 12px;
}

.embedded-browser h2 {
  font-size: 14px;
}

.embedded-browser h1 {
  font-size: 16px;
}

.proxied-page-url {
  width: 100%
}

.proxied-page-contents {
  max-height: 600px;
  overflow: auto;
}