.embedded-browser h3 {
  font-size: 12px;
}

.embedded-browser h2 {
  font-size: 14px;
}

.embedded-browser h1 {
  font-size: 16px;
}

.proxied-page-url {
  width: 100%
}

.proxied-page-contents {
  max-height: 600px;
  overflow: auto;
}

.region-match {
  color: #cd5c5c;
  font-size: 120%;
}

.body-part-match {
  color: #2e8b57;
  font-size: 120%;
}

.activity-attribute-match {
  color: #8a2be2;
  font-size: 120%;
}

.implement-match {
  color: #ff4500;
  font-size: 120%;
}