<div class="container">
  <div id="client-list">
    <h2>Clients</h2>
    <ul>
      <% @clients.each do |client| %>
        <li>
          <%= link_to client.last_name + ", " + client.first_name, client %>
        </li>
      <% end %>
      <%= link_to("Invite New Client", new_user_invitation_path(current_user), :class => 'btn btn-primary') %>
    </ul>
  </div>

  <div id="routine-list">
    <h2>Routines</h2>
    <ul>
      <% @routines.each do |routine| %>
        <li>
        <%= link_to(routine.name, edit_user_routine_path(routine.client, routine)) %>
        </li>
      <% end %>
      <%= link_to("Create New Routine", new_user_routine_path(current_user), :class => 'btn btn-primary') %>
    </ul>
  </div>



</div>
