// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#available-attribute-panel {
  border: 1px solid;
  float: left;
}

#available-body-part-list {
  border: 1px solid;
}

#available-implement-list {
  border: 1px solid;
}

.selected-activity-attribute {
  background-color: green;
}

