/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require bootstrap-datepicker
*/


#flash {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  display: none;
  text-align: center;
  font-size: 18px;
  background-color: #040404;
  z-index: 10000;
  padding: 20px;
  opacity: 0.8;
}

#footer {
  height: 20px;
}

.inline-button {
  width: 90%;
}

.hidden {
  display: none;
}

.tooltip {
  font-size: 100% !important;
}