// Place all the styles related to the day_planners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#day-planner .day-planner-cell {
  width: 13%;
  border: solid 1 px;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

#day-planner .timestamp {
  width: 5%;
  font-weight: bold;
}

#day-planner .day-planner-header {
  @extend .day-planner-cell;
  font-weight: bold;
}

#day-planner .day-planner-time-slot {
  @extend .day-planner-cell;
  font-size: 85%;
  height: 120px;
}