@media (max-width: 480px) {
  .ui-spinner-button {
    zoom: 250%;
  }

  .stopwatch-controls {
    padding-left: 100px;
  }

  .ui-spinner-button {
    padding-top: 5px;
  }

}

// prevent the stopwatch from running over the measure selector
.stopwatch-controls::after {
  clear: none;
}

.ui-spinner {
  float: left;
}

