// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#available-routines-list li {
//  cursor: move;
//}

#calendar td {
  width: 119px;
  height: 100px;
  border: 1px solid #d3d3d3;
//  @include well;
}

.calendar-day {
  width: 100%;
  height: 100%;
}

.day-box {
  text-align: right;
  font-weight: bold;
  border: 1px solid #d3d3d3;
}

#calendar .carousel-control.right {
  top: 2px;
  right: -18px;
}
#calendar .carousel-control.left {
  top: 2px;
  left: -18px;
}

.modal-routine-select {
  display: none;
}

#modal-routine-builder {
  left: 21%;
  top: 40%;
  width: 105%;
  height: 100%;
}

#modal-routine-builder .modal-body {
  overflow-y: scroll;
  max-height: 100%;
}

#routine-type-selector {

}

#scheduled-program {
  display: none;
}