// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-set-form-template {
  display: none;
}

div.activity-set-form {
  display: block;
  border: 1px solid;
  width: 100%;
  height: 50px;
  padding: 5px;
}

div.new-activity-set-form .handle {
  width: 5%;
  float: left;
  border: 1px solid;
  height: 100%;
}

div.new-activity-set-form .activity-set-attributes {
  float: left;
}

#select-activity-type-dialog {
  border: 1px solid;  
}

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: red; }

.ui-selecting .handle { background: #ddd; }
.ui-selected .handle { background: #cde; }

div.activity-set-controls {

}

div.delete-activity-set-button {
  float: left;
  border: 1px solid;
}

div.clone-activity-set-button {
  float: left;
  border: 1px solid;
}

div.facet {
  border: 1px solid;
}

div.facet-selected {
  border: 3px double;
  border-color: green;
}

.facet-included-activity {
  display: block;  
}

.facet-excluded-activity {
  display: none;  
}

.faceting-control {
  display: none;
}

#activity-facets-panel {
  border: 1px solid;
  width: 20%;
  float: left;
}

#facet-filtered-activities-panel {
  border: 1px solid;
  width: 20%;
  float: left;
}

#new-routine {
  border: 1px solid;
  width: 50%%;
  float: left;
}

.activity {
  border: 1px solid;
}
