// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//label{display: block; float: left;}

#activity-list {
  list-style: none;
}

.activity-set-form-template {
  display: none;
}

#routine-activity-set-list {
  margin-left: 20px;
}

.activity-set-form .handle {
  border: solid 1px #E5E5E5;
  cursor: move;
}

.activity-display-name {
  text-align: center;
  font-weight: bold; 
}

.ui-state-active {
  font-weight: bold;
  background-color: #d3d3d3;
}

.facet-included-activity {
  display: block;  
}

.facet-excluded-activity {
  display: none;  
}

.faceting-control {
  display: none;
}

input.measure {
  max-width: 40px;
}

.unit-selector {
  width: auto;
  height: auto;
  margin: 0;
}

.measure-selector .span1 {
  width: 50px;
}

.measure-selector .span3 {
  margin-left: 10px;
}

.measure-label {
//  text-align: right;
  margin-left: -20px;
  padding: 5px;
  font-weight: bold;
  float: left;
}

.input-controls {
  width: 360px;
}

.new-activity-button {
  width: 100%;
}

#modal-activity-builder {
  left: 21%;
  top: 40%;
  width: 105%;
  height: 100%;
}

#modal-activity-builder .modal-body {
  overflow-y: scroll;
  max-height: 100%;
}

#basic-routine-info {
  padding-bottom: 10px;
}

.range-separator {
  float: left;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.measure-max {
//  display: none;
}

//span.icon_clear{
//  position:absolute;
//  right:10px;
//  display:none;
//
//  /* now go with the styling */
//  cursor:pointer;
//  font: bold 1em sans-serif;
//  color:#38468F;
//}
//span.icon_clear:hover{
//  color:#f52;
//}