// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//label{display: block; float: left;}

#activity-list {
  list-style: none;
}

.activity-set-form-template {
  display: none;
}

.activity-set-form .handle {
  border: solid 1px #E5E5E5;
  cursor: move;
}

.activity-display-name {
  text-align: center;
  font-weight: bold; 
}

.ui-state-active {
  font-weight: bold;
  background-color: #d3d3d3;
}

.facet-included-activity {
  display: block;  
}

.facet-excluded-activity {
  display: none;  
}

.faceting-control {
  display: none;
}

input.measure {
  max-width: 40px;
}

.unit-selector {
  width: auto;
  height: auto;
  margin: 0;
}

.measure_label {
  //margin-top: 10px;
  text-align: right;
  padding: 5px;
  font-weight: bold;
  float: none;
}

.new-activity-button {
  width: 100%;
}

#modal-activity-builder {
  left: 21%;
  top: 40%;
  width: 105%;
  height: 100%;
}

#modal-activity-builder .modal-body {
  overflow-y: scroll;
  max-height: 100%;
}
