.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

ul.ui-autocomplete {
  background-color: white;
  list-style: none;
  width: 20em;
  border: 1px solid;
}

.chart-display-panel {
  width: 750px;
  height: 200px;
}

.chart-display-panel .loading-indicator {
  display: block;
  margin-left: 46%;
  margin-top: 10%;
}

#client-score-differentials-display-panel {
  width: 300px;
  height: 150px;
}

#client-score-differentials-display-panel .chart-container img {
  height: 15px;
}

#mobile-user-show .btn {
  width: 90%;
}