.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

ul.ui-autocomplete {
  background-color: white;
  list-style: none;
  width: 20em;
  border: 1px solid;
}

#scores-by-day-display-panel {
  width: 750px;
  height: 250px;
}

#activity-score-display-panel .loading-indicator {
  display: block;
  margin-left: 46%;
  margin-top: 10%;
}

#scores-by-day-display-panel .loading-indicator {
  display: block;
  margin-left: 46%;
  margin-top: 10%;
}

#activity-type-breakdown-by-day-display-panel {
  width: 750px;
  height: 250px;
}

#activity-type-breakdown-by-day-display-panel .loading-indicator {
  display: block;
  margin-left: 46%;
  margin-top: 10%;
}
#activity-score-display-panel {
  width: 300px;
  height: 150px;
}

#activity-score-display-panel .chart-container img {
  height: 15px;
}