.assigned-set-row .span3 {
  width: 25%;
}

.assigned-set-row .span2 {
  width: 16%;
}

.assigned-set-row .span1 {
  width: 10%;
}

.activity-performed-row .span3 {
  width: 20%;
}

.activity-performed-row .span2 {
  width: 16%;
}

.activity-performed-row .value-field {
  margin-left: 15px;
}

.activity-performed-row .span1 {
  width: 10%;
}

.assigned-set-brief {
  //float: left;
  font-size: 80%;
  text-align: left;
  //font-weight: normal;
}

.stopwatch-controls {
  display: block;
}