.appointment
  .hidden.client-login
    = appointment.client.login
  .row-fluid.client
    = appointment.client.full_name
  .row-fluid.delete-appointment
    .btn.btn-small
      Cancel
      %i.icon-remove
  .row-fluid.routine
    .routine-name
      = appointment.routine.name if appointment.routine
    = render :partial => "shared/button", :locals => { :button_class => "edit-selected-routine-button",
                                                       :icon => "icon-edit"}