<div class="container">
  <%= link_to("Create New Activity", new_activity_path, :class => "btn btn-primary") %>

  <% @activities.each do |activity| %>

    <div><%= link_to(activity.name, activity) %></div>

  <% end %>

</div>
