#new-feedback-form.modal.hide.fade
  .modal-header
    %h3 What do you think?
  .modal-body
    = form_for [current_user, Feedback.new], :remote => true do |form|
      = form.text_area :remarks
      .modal-footer
        = submit_tag "Send", :id => "send-feedback-button", :class => "btn btn-primary"
        %button#cancel-feedback-button.btn{"data-dismiss" => "modal", :type => "button"} Close
