<div class="container">

  <% @feedback.each do |feedback| %>
    <div class="row">
      <div class="span2">
        <%= feedback.user.login %>
      </div>
      <div class="span4">
        <%= feedback.remarks %>
      </div>

    </div>
  <% end %>

</div>
