.container
  - if can? :create, Implement
    = link_to("Create New Implement", new_implement_path, :class => "btn btn-primary")
  .row
    .span3
      %h5
        Name
    - if can? :update, Implement
      .span1
        %h5
          Has Image?
  - @implements.each do |implement|
    .row
      .span3
        = link_to(implement.name, implement_path(implement))
      - if can? :update, Implement
        .span1{:class => implement.image_url.to_s.index("image_not_found").nil? ? "activity-complete" : "activity-incomplete"}
          = implement.image_url.to_s.index("image_not_found").nil?