<h2><%= @implement.name %></h2>
<div class="container">
  <div class="row">
    <div class="span2 table-column-header">
      Category
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <%=  @implement.category %>
    </div>

    <div class="span2">
      <%= link_to("Edit", edit_implement_path(@implement), :class => "btn") %>
    </div>
  </div>
  <%= link_to("All Implements", implements_path) %>
</div>